body{
    margin: 0;
    padding:0;
    background-color: black;
    background-image: url(starnight.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: sans-serif;
}
.main{
    padding: 120px;
    font-size: 70px;
    text-align: center;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 39px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
img{
    border-radius: 50%;
    transform: rotate(270deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}